{%extends 'reparto/base.html'%}
{%block contenido%}
<h4>Guardando con nombre {{nombre_reparto}} (<a href="{% url 'index' %}">Volver al inicio</a>)</h4>
<form action="{% url 'repartir' nombre_reparto %}" method="post">
{% csrf_token %}
{{asignacion}}
<input type="submit" value="Asignar">
</form>

<br/>
<table border='1' class="table">
    <tr>
        <td>Profesor</td>
        <td>Total horas</td>
        <td>Modulos</td>
    </tr>
    {%for p in informacion_profesores%}
    <tr>
        <td>{{p.nombre}}</td>
        <td>{{p.horas}}</td>
        <td>
        {%for modulo in p.modulos%}
        {{modulo}}
        <a  onclick="return confirm('¿Seguro que quieres borrar?');"   href="{%url 'borrar' modulo.id p.id nombre_reparto%}">Borrar</a>
        <br/>
        {%endfor%}
        </td>
    </tr>
    {%endfor%}
</table>
{%endblock%}